:root{
    --Color-1: rgb(59, 156, 252);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

textarea{
    resize: none;
}

body{
    overflow-x: hidden;
    overflow-y: scroll;
}

a{
    text-decoration: none;
    display: block;
}

#Barra-Navegacion{
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 16vw;   
    background-image: linear-gradient(to right, white 95%, #ddd); 
    display: flex;
    flex-direction: column;
    align-items:center;

}

#logo-contenedor{
    display: flex;
    font-size: 1.5vw;
    /* border: 1px solid rgb(166, 166, 166); */
    width: 100%;
    height: 25%;
    /* align-self: self-start; */
    
}

#Logo{
    min-width: 35%;
    height: 100%;
    /* border: 1px solid black; */
    background-image: url('./Assets/Imagenes/iconBarraN.png');
}

#Texto-Logo{
    padding-left: 0.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Contenedor-Elementos-Barra-Navegacion{
    /* border: 1px solid black; */
    width: 96.5%;
    height: 75%;
    align-self: self-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.Elemento-Barra-Navegacion-Contenedor{
    background-color: transparent;
    color: black;
    width: 100%;
    height: 15%;
    /* border: 1px solid black; */
    transition: all 0.5s;
    /* margin: 1.5vh 0; */
    display: flex;
    align-items: center;
    font-size: 1.2vw;
    justify-content: flex-start;
    padding-left: 1.5vw; 

}

.Elemento-Barra-Navegacion-Contenedor:hover{
    cursor: pointer;
    transform: rotateY(-25deg)
}

.Icono-Elemento-Barra-Navegacion{
    width: 20%;
    height: 100%;
}

.Elemento-Barra-Navegacion-Contenedor:nth-child(1) 
.Icono-Elemento-Barra-Navegacion{
    background-image: url('Assets/Imagenes/InicioIcono.svg');
}

.Elemento-Barra-Navegacion-Contenedor:nth-child(2) 
.Icono-Elemento-Barra-Navegacion{
    background-image: url('Assets/Imagenes/ServiciosIcono.svg');
}

.Elemento-Barra-Navegacion-Contenedor:nth-child(3) 
.Icono-Elemento-Barra-Navegacion{
    background-image: url('Assets/Imagenes/CotizacionIcono.svg');
}

.Elemento-Barra-Navegacion-Contenedor:nth-child(4) 
.Icono-Elemento-Barra-Navegacion{
    background-image: url('Assets/Imagenes/ContactoIcono.svg');
}

.Texto-Elemento-Barra-Navegacion{
    margin-left: 0.7vw;
}



/* ESTILOS PARA ICONOS SELECCIONADOS EN DIFERENTES PAGINAS*/

.Elemento-Barra-Navegacion-Contenedor[data-seleccionado="true"]{
    color: var(--Color-1);
    background-color: rgb(237, 242, 255);
} 

#Contenedor-Elementos-Barra-Navegacion[data-Pagina="index"] 
.Elemento-Barra-Navegacion-Contenedor[data-seleccionado="true"]
.Icono-Elemento-Barra-Navegacion{
    background-image: url('Assets/Imagenes/InicioIconoSeleccionado.svg');
}

#Contenedor-Elementos-Barra-Navegacion[data-Pagina="Servicios"] 
.Elemento-Barra-Navegacion-Contenedor[data-seleccionado="true"]
.Icono-Elemento-Barra-Navegacion{
    background-image: url('Assets/Imagenes/ServiciosIconoSeleccionado.svg');
}

#Contenedor-Elementos-Barra-Navegacion[data-Pagina="Cotizacion"] 
.Elemento-Barra-Navegacion-Contenedor[data-seleccionado="true"]
.Icono-Elemento-Barra-Navegacion{
    background-image: url('Assets/Imagenes/CotizacionIconoSeleccionado.svg');
}

#Contenedor-Elementos-Barra-Navegacion[data-Pagina="Contacto"] 
.Elemento-Barra-Navegacion-Contenedor[data-seleccionado="true"]
.Icono-Elemento-Barra-Navegacion{
    background-image: url('Assets/Imagenes/ContactoIconoSeleccionado.svg');
}

/* CUERPO INDEX */

#Cuerpo[data-Pagina="Index"]{
    background-color: rgb(236, 240, 250);
    width: 84vw;
    height: 100vh;
    position: relative;
    left: 16vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#Textos-Presentacion{
    /* border: 1px solid black; */
    width: 40%;
    height: 60%;
    text-align: center;
    padding: 1.5vh 1vw 0 1vw;
    font-size: 1.2vw;
}

#Textos-Presentacion h2{
    font-size: 1.6vw;
}

#Logo-Grande{
    /* border: 1px solid black; */
    width: 35%;
    height:50%;
    margin-left: 1vw;
    background-image: url("./Assets/Imagenes/logo2.png");
    animation: subirBajarYRotarEnY 2.5s linear infinite;
    /* border: 1px solid black; */
}


#Contenedor-Iconos-Tecnologias{
    /* border: 1px solid black; */
    width: 90%;
    height:30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Icono-Tecnologias{
    width: 13%;
    height: 35%;
    /* border: 1px solid black; */
}

.Icono-Tecnologias:nth-child(1){
    background-image: url('Assets/Imagenes/HTMLLogo.png');
}

.Icono-Tecnologias:nth-child(2){
    background-image: url('Assets/Imagenes/CSSLogo.png');
}

.Icono-Tecnologias:nth-child(3){
    background-image: url('Assets/Imagenes/JavaScriptLogo.png');
}
.Icono-Tecnologias:nth-child(4){
    background-image: url('Assets/Imagenes/PhpLogo.png');
}

.Icono-Tecnologias:nth-child(5){
    background-image: url('Assets/Imagenes/PythonLogo.png');
}

.Icono-Tecnologias:nth-child(6){
    background-image: url('Assets/Imagenes/DjangoLogo.png');
}

.Icono-Tecnologias:nth-child(7){
    background-image: url('Assets/Imagenes/NodeJsLogo.png');
}

.Icono-Tecnologias:nth-child(8){
    background-image: url('Assets/Imagenes/ExpressLogo.png');
}

.Icono-Tecnologias:nth-child(9){
    background-image: url('Assets/Imagenes/Socket.ioLogo.png');
}

.Icono-Tecnologias:nth-child(10){
    background-image: url('Assets/Imagenes/MySQLLogo.png');
}

.Icono-Tecnologias:nth-child(11){
    background-image: url('Assets/Imagenes/MongoDBLogo.png');
}

.Icono-Tecnologias:nth-child(12){
    background-image: url('Assets/Imagenes/JavaLogo.png');
}

/* CUERPO SERVICIOS */

#Cuerpo[data-Pagina="Servicios"]{
    background-color: rgb(236, 240, 250);
    max-width: 83vw;
    min-height: 100vh;
    padding: 1vw 0;
    position: relative;
    left: 16vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#Cuerpo[data-Pagina="Servicios"] h1{
    font-size: 2vw;

    margin: 3vh 0;
}

#Contenedor-Servicios{
    max-width:100%;
    min-height: 100vh;
    /* padding: 1vw 0; */
    /* display: grid;

    justify-content: space-evenly;
    align-content: space-evenly;
    grid-row-gap: 2vw;
    grid-template-columns: repeat(4,18vw); 
    grid-template-rows:  repeat(3,50vh);
    grid-auto-flow: row;
    grid-auto-rows: 40vh; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}

.Servicio-Contenedor{
    /* border: 0.1vw solid black; */
    /* border-radius: 1vw; */
    /* background-color: white; */
    width: 17vw;
    min-height: 50vh;
    margin: 1vw;
    box-shadow: 1vw;
    box-shadow: 0vw 0.7vw 0.8vw 0.2vw rgba(128, 127, 127, 0.3);
    padding: 0.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;    
    background-color: white;
    border-bottom: 0.7vw solid white;
    transition: all 0.3s;
}

.Titulo-Servicio{
    font-size: 1.3vw;
    text-align: center;
    margin: 1vw;
}

.Imagen-Servicio{
    width: 90%;
    height: 17.5vh;
    /* border: 1px solid black; */
    border-radius: 1vw;   
    transition: 0.3s; 
    margin: 1vw;
}

.Texto-Servicio{
    display: none;
    font-size: 1vw;
    padding: 0.5vw;
    text-align: center;
}

.Servicio-Contenedor:hover .Imagen-Servicio{
    box-shadow: 0  0 0.5vw 0.5vw rgba(0,0,0,0.2)inset;
    transform: scale(1.05);
    border-radius: 30%;
}

.Servicio-Contenedor:hover{
    animation: bordeAnimado 1.5s linear infinite;
    cursor: pointer;
}


.Servicio-Contenedor:nth-child(1) .Imagen-Servicio{
    background-image: 
        url('./Assets/Imagenes/PaginaWebIcono.svg'),
        linear-gradient(to left top, rgb(48, 41, 255),rgb(63, 255, 223));
}

.Servicio-Contenedor:nth-child(2) .Imagen-Servicio{
    background-image: 
        url('./Assets/Imagenes/PaginaWebAdministrable.png'),
        linear-gradient(to left top, rgb(48, 41, 255),rgb(63, 255, 223));
}

.Servicio-Contenedor:nth-child(3) .Imagen-Servicio{
    background-image: 
        url('./Assets/Imagenes/TiendaVirtualIcono.svg'),
        linear-gradient(to left top, rgb(48, 41, 255),rgb(63, 255, 223));
}

.Servicio-Contenedor:nth-child(4) .Imagen-Servicio{
    background-image: 
        url('./Assets/Imagenes/DiseñoAPaginaHTMLIcono.png'),
        linear-gradient(to left top, rgb(48, 41, 255),rgb(63, 255, 223));

}

.Servicio-Contenedor:nth-child(5) .Imagen-Servicio{
    background-image: 
        url('./Assets/Imagenes/ActualizacionPaginasWebIcono.png'),
        linear-gradient(to left top, rgb(48, 41, 255),rgb(63, 255, 223));
}

.Servicio-Contenedor:nth-child(6) .Imagen-Servicio{
    background-image: 
        url('./Assets/Imagenes/PaginasWebDistintosDispositivosIcono.png'),
        linear-gradient(to left top, rgb(48, 41, 255),rgb(63, 255, 223));
}

.Servicio-Contenedor:nth-child(7) .Imagen-Servicio{
    background-image: 
        url('./Assets/Imagenes/ApiIcono.png'),
        linear-gradient(to left top, rgb(48, 41, 255),rgb(63, 255, 223));
}

.Servicio-Contenedor:nth-child(8) .Imagen-Servicio{
    background-image: 
        url('./Assets/Imagenes/BaseDeDatosIcono.png'),
        linear-gradient(to left top, rgb(48, 41, 255),rgb(63, 255, 223));
}

.Servicio-Contenedor:nth-child(9) .Imagen-Servicio{
    background-image: 
        url('./Assets/Imagenes/SeguridadIcono.png'),
        linear-gradient(to left top, rgb(48, 41, 255),rgb(63, 255, 223));
}

.Servicio-Contenedor:nth-child(10) .Imagen-Servicio{
    background-image: 
        url('./Assets/Imagenes/FuncionalidadesIcono.png'),
        linear-gradient(to left top, rgb(48, 41, 255),rgb(63, 255, 223));
}

.Servicio-Contenedor:nth-child(11) .Imagen-Servicio{
    background-image: 
        url('./Assets/Imagenes/SoporteIcono.png'),
        linear-gradient(to left top, rgb(48, 41, 255),rgb(63, 255, 223));
}


#Cuerpo[data-Pagina="Cotizacion"]{
    background-color: rgb(236, 240, 250);
    max-width: 83vw;
    min-height: 100vh;
    padding: 1vw 0;
    position: relative;
    left: 16vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#Titulo-Cotizacion{
    margin:0.5vw 0 1.5vw 0 ;
}

#Contenedor-Formulario{
    width: 95%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}

#Imagen-Formulario{
    background-image: url("./Assets/Imagenes/formulario-cotizacion.jpg");
    width: 42%;
    height: 80vh;
}


#Formulario-Cotizacion{
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#Formulario-Cotizacion input,
#Formulario-Cotizacion textarea,
#Formulario-Cotizacion select{
    border-radius: 0.5vw;
    font-size: 1vw;
}

.Contenedor-Input-Formulario{
    display: flex;
    flex-direction: column;
    width: 77%;
}

.input-Formulario-Cotizacion{
    height: 6vh;
    padding-left: 0.5vw;
}


#Descripcion-Formulario-Cotizacion{
    padding: 0.5vw;
}

#Formulario-Cotizacion input[type="submit"]{
    background-color: var(--Color-1);
    padding: 1vw 2vw;
    border:none;
    color: white;
    font-size: 1.1vw;
}

#Formulario-Cotizacion input[type="submit"]:hover{
    cursor:pointer;
}

#Formulario-Cotizacion label{
    margin-bottom: 0.5vw;
}

/* ANIMACIONES */

@keyframes subirBajarYRotarEnY{
    0%{
       transform: none;
    }

    25%{
        transform: translateY(1vw) rotateY(90deg);
    }

    75%{
        transform: translateY(-2vw) rotateY(270deg) ;        
    }

    100%{
        transform: translateY(0vw) rotateY(360deg) ;        
    }
}

@keyframes bordeAnimado {
    0%{
        border-image: linear-gradient(to left, rgb(48, 41, 255),rgb(63, 255, 223)) 10;
    }

    50%{
        border-image: linear-gradient(to right, rgb(48, 41, 255),rgb(63, 255, 223)) 10;
    }

    100%{
        border-image: linear-gradient(to left, rgb(48, 41, 255),rgb(63, 255, 223)) 10;
    }

}
