Codigo de la seccion de cotizaciones
.divFormCotizacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.divFormCotizacion > h1 {
    margin-top: 30px;
}

.form-cotizacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

#imgFormCotizacion {
    width: 40%;
}

.labelsFormCotizacion {
    font-size: 30px;
    font-weight: 400;
}

.inputsFormCotizacion {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    width: 50%;
    height: 30px;
    border: 1px solid black;
    font-size: 20px;
    padding: 20px;
}

#mensajeTextA {
    border: 1px solid black;
    border-radius: 30px;
    padding: 20px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px
}

#buttonFormCotizacion {
    margin-top: 20px;
    color: white;
    width: 250px;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 50px;
    font-size: 20px;
    background-color: rgb(68,126,249);
}
